# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [128]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [113]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
# Your code here:

print('Media Pokemones no legendarios\n',pokemon[pokemon.Legendary==False].mean())
print('Desviaciones Estandar Pokemones no legendarios\n',pokemon[pokemon.Legendary==False].std())

print('Media Pokemones legendarios\n',pokemon[pokemon.Legendary==True].mean())
print('Desviaciones estándar Pokemones legendarios\n',pokemon[pokemon.Legendary==True].std())

Media Pokemones no legendarios
 #             353.315646
Total         417.213605
HP             67.182313
Attack         75.669388
Defense        71.559184
Sp. Atk        68.454422
Sp. Def        68.892517
Speed          65.455782
Generation      3.284354
Legendary       0.000000
dtype: float64
Desviaciones Estandar Pokemones no legendarios
 #             208.590419
Total         106.760417
HP             24.808849
Attack         30.490153
Defense        30.408194
Sp. Atk        29.091705
Sp. Def        25.669310
Speed          27.843038
Generation      1.673471
Legendary       0.000000
dtype: float64
Media Pokemones legendarios
 #             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64
Desviaciones estándar Pokemones legendarios
 #             173.651095
Total          60.937389
HP             21.722164
Attack         30.348037
Defense        28.255131
Sp. Atk        31.104608
Sp. Def        28.827004
Speed          22.952323
Generation      1.455262
Legendary       0.000000
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [55]:
# Your code here:
from scipy.stats import ttest_ind as tt

## Define 2 random distributions
#Sample Size
l = pokemon[pokemon.Legendary==True]
nl = pokemon[pokemon.Legendary==False]
N = min([len(l),len(nl)])

#Samples
legendary = l.sample(N)
non_legendary = nl.sample(N)

tt(legendary.Total,non_legendary.Total,equal_var=False)

Ttest_indResult(statistic=15.033077745764896, pvalue=1.2909906669881444e-27)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
Basado en el análisis de su columna `Total` se concluye que los pokemones legendarios y no legendarios son significativamente diferentes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [44]:
# Your code here:

types=pokemon['Type 1'].value_counts()
types

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [46]:
# Your code here:
wm=pokemon[pokemon['Type 1'] == 'Water'].mean()
ws=pokemon[pokemon['Type 1'] == 'Water'].std()

nm=pokemon[pokemon['Type 1'] == 'Normal'].mean()
ns=pokemon[pokemon['Type 1'] == 'Normal'].std()

print(wm,ws,nm,ns)

#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64 #             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64 #             319.173469
Total         401.683673
HP             77.275510
Attack         73.469388
Defense        59.846939
Sp. Atk        55.816327
Sp. Def        63.724490
Speed          71.551020
Generation      3.051020
Legendary       0.020408
dtype: float64 #             193.854820
Total         115.733038
HP             36.233430
Attack         30.295862
Defense        23.771833
Sp. Atk        23.946395
Sp. Def        25.142801
Speed          28.406157
Generation      1.575407
Legendary       0.142119
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [52]:
# Your code here:

w=pokemon[pokemon['Type 1']=='Water'].mean()
nw=pokemon[pokemon['Type 1']!='Water'].mean()

comparacion=w-nw
comparacion

#            -69.447051
Total         -5.403654
HP             3.260174
Attack        -5.638912
Defense       -1.041944
Sp. Atk        2.316860
Sp. Def       -1.610050
Speed         -2.689784
Generation    -0.542566
Legendary     -0.052949
dtype: float64

In [54]:
tt(w,nw,equal_var=True)

Ttest_indResult(statistic=-0.12495908786675247, pvalue=0.9019409401007521)

Write your conclusion below.

# Your conclusions here:

El T-test indica que en general son muy parecidos entre si ambas clasificaciones de Pokemones de Agua y los demás

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [58]:
# Your code here:

from scipy.stats import ttest_rel as ttr
atk=pokemon.Attack
def_=pokemon.Defense
ttr(atk,def_)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:

Al haber un pvalue muy pequeño indics que son significativamente diferentes las puntuaciones de atacke y defensa, por lo que descarta la hipotesis nula de que los valores de ataque y defensa son iguales

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [59]:
# Your code here:
satk=pokemon['Sp. Atk']
sdef=pokemon['Sp. Def']
ttr(satk,sdef)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:
En  este caso el p value no es tan pequeño, lo que indica cierta similitud en los valores, lo que nos indica que no podemos descartar la hipótesis nula

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [62]:
# Your code here:
from scipy.stats import ttest_1samp as tt1    

tt1(atk-def_,0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Son iguales

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [130]:
# Your code here:
pokemon['Water']=0
pokemon.Water=pokemon.where(pokemon['Type 1']== 'Water',other=False, inplace =False)
pokemon.Water= pokemon.Water.apply(lambda x: True if x>0 else x)

pd.crosstab(pokemon.Legendary, pokemon.Water,
            rownames=['Legendario'], colnames=['Agua'])

Agua        False  True
Legendario
False         627    108
True           61      4

In [132]:
#pokemon=pokemon.drop(columns=['Water'])
#pokemon.head(10)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:
from scipy.stats import chi2_contingency as chi

chi()

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: