# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [19]:
# your code here
orders['VIP'] = np.where(orders.groupby(orders.CustomerID).amount_spent

4339

In [56]:
q95=orders.groupby(orders.CustomerID).amount_spent.sum().sort_values(ascending=False).quantile(0.95)
q95

5840.181999999983

In [61]:
VIP = orders.groupby(orders.CustomerID).amount_spent.sum()>q95
orders['VIP']=np.where(VIP[orders.CustomerID],True,False)

In [65]:
q75=orders.groupby(orders.CustomerID).amount_spent.sum().sort_values(ascending=False).quantile(0.75)
q75

1661.6400000000003

In [71]:
Preferred = (orders.groupby(orders.CustomerID).amount_spent.sum()>q75) & (orders.groupby(orders.CustomerID).amount_spent.sum()<=q95)
orders['Preferred']=np.where(Preferred[orders.CustomerID],True,False)

In [85]:
print('There are {} VIP customers'.format(VIP.value_counts()[1]))
print('There are {} Preferred customers'.format(Preferred.value_counts()[1]))

There are 217 VIP customers
There are 868 Preferred customers

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [277]:

subVIP=orders[orders.VIP==True].groupby([orders.CustomerID, orders.Country]).sum()
VIPCountry = subVIP.index
VIPCountry =list(VIPCountry)
for i in range(len(VIPCountry)):
    VIPCountry[i] = list(VIPCountry[i])
VIPCountry
VIPCountry = pd.DataFrame(VIPCountry)
rankVIP=VIPCountry[1].value_counts()

print('The country with most VIPs customers is {} with {}'.format(rankVIP.index[0],rankVIP[0]))

The country with most VIPs customers is United Kingdom with 177

In [279]:
# your code here
subPreferred=orders[orders.Preferred==True].groupby([orders.CustomerID, orders.Country]).sum()
PreferredCountry = subPreferred.index
PreferredCountry =list(PreferredCountry)
for i in range(len(PreferredCountry)):
    PreferredCountry[i] = list(PreferredCountry[i])
PreferredCountry
PreferredCountry = pd.DataFrame(PreferredCountry)
rankPreferred=PreferredCountry[1].value_counts()
print('The country with most Preferreds customers is {} with {}'.format(rankPreferred.index[0],rankPreferred[0]))

The country with most Preferreds customers is United Kingdom with 755

In [287]:
#print(rankPreferred)
#print(rankVIP)
rankcomb=[]

for i in rankPreferred:
    try:
        rankcomb.append(rankPreferred[i]+rankVIP[i])
    except:
        rankcomb.append(rankPreferred[i])
rankcomb

In [289]:
rankVIP=(rankPreferred+rankVIP-rankPreferred).fillna(0)

In [293]:
rankcomb=(rankPreferred+rankVIP).sort_values(ascending=False)

In [295]:
print('The country with most VIP and Preferreds customers is {} with {}'.format(rankcomb.index[0],rankcomb[0]))

The country with most VIP and Preferreds customers is United Kingdom with 932.0