# Pandas Project - Alberto Ibarra

### Importar librerias para la limpieza y Cargar base de datos

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_raw_data = pd.read_csv('attacks.csv', encoding='latin-1')

In [3]:
df_raw_data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
df_raw_data = df_raw_data.rename(columns= {'Case Number':'Case','Sex ':'Sex','Species ':'Species','Fatal (Y/N)':'Fatal','Investigator or Source':'Source'})

In [5]:
cu=['Case','Date','Year','Country','Area','Location','Activity','Name','Sex','Species'] #columnas útiles
df_raw_data[cu]

,Case,Date,Year,Country,Area,Location,Activity,Name,Sex,Species
0,2018.06.25,25-Jun-2018,2018.0,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,White shark
1,2018.06.18,18-Jun-2018,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,NaN
2,2018.06.09,09-Jun-2018,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,NaN
3,2018.06.08,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Limpieza inicial de filas

### Quitar filas duplicadas

In [6]:
df_lessdup_data=df_raw_data.drop_duplicates()
df_lessdup_data

,Case,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Detección de cantidad de datos invalidos

In [7]:
Datosvalidos = df_lessdup_data.isnull().sum()
Datosvalidos

Case                 2
Date                10
Year                12
Type                14
Country             60
Area               465
Location           550
Activity           554
Name               220
Sex                575
Age               2841
Injury              38
Fatal              549
Time              3364
Species           2848
Source              27
pdf                 10
href formula        11
href                10
Case Number.1       10
Case Number.2       10
original order       3
Unnamed: 22       6311
Unnamed: 23       6310
dtype: int64

### Se detrmina como datos muy relevantes: caso, fecha, año, tipo, pais, daño y fatalidad, por lo que las filas que no cuenten con alguno de estos datos serán descartadas

In [8]:
df_row_cleaned=df_lessdup_data.dropna(subset=['Case','Date','Year','Type','Country','Injury','Fatal'])
df_row_cleaned

,Case,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [9]:
Datosvalidos = df_row_cleaned.isnull().sum()
Datosvalidos

Case                 0
Date                 0
Year                 0
Type                 0
Country              0
Area               368
Location           443
Activity           403
Name               148
Sex                475
Age               2462
Injury               0
Fatal                0
Time              2902
Species           2757
Source              11
pdf                  0
href formula         1
href                 0
Case Number.1        0
Case Number.2        0
original order       0
Unnamed: 22       5693
Unnamed: 23       5692
dtype: int64

# Limpieza de columnas

### Columna Species

In [10]:
#Dimensionando el tamaño del problema
series_nasty_species=df_row_cleaned['Species'].unique()
print(series_nasty_species.shape[0], 'clasificaciones diferntes')

1495 clasificaciones diferntes

In [11]:
#Carga y limpieza de base de datos con nombre de especies de tiburones para comparar
df_shark_types = pd.read_csv('shark_types.csv')
df_shark_types=df_shark_types.drop_duplicates()
series_shark_types=df_shark_types['English']
series_shark_types=series_shark_types.dropna()
series_shark_types=series_shark_types.apply(lambda x: str(x))
series_shark_types=series_shark_types.apply(lambda x: x.upper())
series_shark_types=series_shark_types.apply(lambda x: x.replace('SHARK',''))
series_shark_types=series_shark_types.apply(lambda x: x.replace("'",''))
series_shark_types=series_shark_types.apply(lambda x: re.sub(r'\s', '', x))
series_shark_types=series_shark_types.drop_duplicates()
list_shark_species = list(series_shark_types)

In [12]:
#Funcion para buscar en la cadena dada un de los posibles tipos de tiburones
def isshark(x):
    for i in range(len(list_shark_species)):
        if x.find(list_shark_species[i])>0:
            return list_shark_species[i]
        else:
            pass
    return 'UNKNOWN'

In [13]:
#Limpieza de Series ·Species·
series_species = df_row_cleaned['Species']
series_species = series_species.fillna('UNKNOWN') #Relleno de NA por la palabra UNKNOWN para eliminar Nulos
series_species = series_species.apply(lambda x: str(x)) #Transformacion a str para evitar error de tipo de datos
series_species = series_species.apply(lambda x: x.replace(' ',''))#Eliminacion de espacios
series_species = series_species.apply(lambda x: x.upper()) #Hologacion a mayusculas
series_species = series_species.apply(lambda x: x.replace('SHARK','')) #Eliminacion de la palabra "Shark"
series_species = series_species.apply(lambda x: x.replace('"','')) #Eliminacion de comillas dobles
series_species = series_species.apply(lambda x: isshark(x)) #Aplicacion de la funcion isshark

In [14]:
nasty_col_species = series_species.unique()
print('Especies identificadas: ', nasty_col_species.shape[0]-1)

Especies identificadas:  39

In [15]:
#Integracion de la Series ·Species· al data frame
df_col1_clean = df_row_cleaned.copy()
df_col1_clean['Species'] = series_species
df_col1_clean.head()

,Case,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,UNKNOWN,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,UNKNOWN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,UNKNOWN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,UNKNOWN,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,UNKNOWN,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [16]:
Datosvalidos = df_col1_clean.isnull().sum()
Datosvalidos

Case                 0
Date                 0
Year                 0
Type                 0
Country              0
Area               368
Location           443
Activity           403
Name               148
Sex                475
Age               2462
Injury               0
Fatal                0
Time              2902
Species              0
Source              11
pdf                  0
href formula         1
href                 0
Case Number.1        0
Case Number.2        0
original order       0
Unnamed: 22       5693
Unnamed: 23       5692
dtype: int64

## Columna Country

In [25]:
df_col1_clean.head()
series_country = df_col1_clean['Country'].copy()

In [26]:
#Limpieza de la base de datos de paises
df_world = pd.read_csv('countries.csv')
series_countries_valid = df_world[['Country']].copy()  #Copia de la serie
series_countries_valid['Country'] = series_countries_valid['Country'].apply(lambda x: x.upper()) #Mayusculas
series_countries_valid['Country'] = series_countries_valid['Country'].apply(lambda x: x.replace(' ','')) #Mayusculas
#series_countries_valid['Country'] = series_countries_valid['Country'].apply(lambda x: re.sub(r"^\s+|\s+$",'',x)) #Quita espacios al principio y al final
list_countries_valid = list(series_countries_valid['Country'])

In [40]:
series_country.unique().group()

AttributeError: 'numpy.ndarray' object has no attribute 'group'

In [32]:
#Funcion para buscar en la cadena dada un de los posibles paises, si hay dos paises tomará el primero en caso de
#no encontrarlo regresara el mismo dato con una "X-" para decidir el siguiente criterio de limpieza
def iscountry(x):
    for i in range(len(list_countries_valid)):
        if x.find(list_countries_valid[i])>0:
            return list_countries_valid[i]
        else:
            pass
        return 'X-' + x

In [33]:
#Limpieza de Series ·Countries·
series_country = series_country.apply(lambda x: str(x)) #Transformacion a str para evitar error de tipo de datos
series_country = series_country.apply(lambda x: x.upper()) #Hologacion a mayusculas
series_country = series_country.apply(lambda x: x.replace(' ','')) #Quitar espacios
series_country = series_country.apply(lambda x: x.replace('USA','UNITEDSTATES')) #Excepcion pais con dos nombres
series_country = series_country.apply(lambda x: x.replace('ENGLAND','UNITEDKINGDOM')) #Excepcion pais con dos nombres
#series_country = series_country.apply(lambda x: iscountry(x))

In [35]:
series_country.unique()

array(['UNITEDSTATES', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITEDKINGDOM',
       'SOUTHAFRICA', 'THAILAND', 'COSTARICA', 'MALDIVES', 'BAHAMAS',
       'NEWCALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA',
       'MAURITIUS', 'NEWZEALAND', 'SPAIN', 'SOLOMONISLANDS', 'JAPAN',
       'EGYPT', 'STHELENA,BRITISHOVERSEASTERRITORY', 'REUNION',
       'FRENCHPOLYNESIA', 'UNITEDARABEMIRATES', 'PHILIPPINES',
       'INDONESIA', 'CHINA', 'COLUMBIA', 'FIJI', 'DOMINICANREPUBLIC',
       'ARUBA', 'MOZAMBIQUE', 'PUERTORICO', 'ATLANTICOCEAN', 'GREECE',
       'ST.MARTIN', 'FRANCE', 'PAPUANEWGUINEA', 'TRINIDAD&TOBAGO',
       'KIRIBATI', 'ISRAEL', 'DIEGOGARCIA', 'TAIWAN',
       'PALESTINIANTERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE',
       'JAMAICA', 'NIGERIA', 'TONGA', 'SCOTLAND', 'ITALY', 'CHILE',
       'KENYA', 'RUSSIA', 'TURKS&CAICOS', 'SAMOA', 'AZORES', 'SOUTHKOREA',
       'MALTA', 'VIETNAM', 'MADAGASCAR', 'UNITEDARABEMIRATES(UAE)',
       'PANAMA', 'SOMALIA', 'CROATIA', 'NORWAY', 'YEMEN', 'GULFOFADEN',
       'SIERRALEONE', 'ST.MAARTIN', 'GRANDCAYMAN', 'VANUATU', 'VENEZUELA',
       'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEANSEA', 'CANADA',
       'OKINAWA', 'TANZANIA', 'MARSHALLISLANDS', 'SENEGAL',
       'EGYPT/ISRAEL', 'NORTHERNARABIANSEA', 'HONGKONG', 'ELSALVADOR',
       'ANGOLA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'BERMUDA',
       'NORTHATLANTICOCEAN', 'PORTUGAL', 'SOUTHCHINASEA', 'BANGLADESH',
       'PALAU', 'WESTERNSAMOA', 'PACIFICOCEAN', 'BRITISHISLES', 'GRENADA',
       'SRILANKA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEWBRITAIN', 'SUDAN',
       'JOHNSTONISLAND', 'SOUTHPACIFICOCEAN', 'NEWGUINEA', 'REDSEA',
       'NORTHPACIFICOCEAN', 'FEDERATEDSTATESOFMICRONESIA',
       'MIDATLANTICOCEAN', 'ADMIRALTYISLANDS', 'BRITISHWESTINDIES',
       'SOUTHATLANTICOCEAN', 'PERSIANGULF', 'REDSEA/INDIANOCEAN',
       'NORTHSEA', 'NICARAGUA', 'MALDIVEISLANDS', 'AMERICANSAMOA',
       'ANDAMAN/NICOBARISLANDAS', 'GABON', 'MAYOTTE', 'MONTENEGRO',
       'THEBALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIANOCEAN',
       'NETHERLANDSANTILLES', 'LIBERIA', 'SAUDIARABIA',
       'NORTHERNMARIANAISLANDS', 'IRAN/IRAQ', 'JAVA', 'CENTRALPACIFIC',
       'SOLOMONISLANDS/VANUATU', 'SOUTHWESTPACIFICOCEAN', 'BAYOFBENGAL',
       'MID-PACIFCOCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'BARBADOS',
       'CAPEVERDE', 'HONDURAS', 'MONACO', 'GUYANA', 'HAITI', 'SANDOMINGO',
       'IRELAND', 'KUWAIT', 'REUNIONISLAND', 'FALKLANDISLANDS', 'CRETE',
       'CYPRUS', 'WESTINDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISHNEWGUINEA', 'OCEAN', 'GEORGIA', 'TUVALU', 'INDIANOCEAN?',
       'GUINEA', 'ANDAMANISLANDS', 'CEYLON', 'EQUATORIALGUINEA/CAMEROON',
       'COOKISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA',
       'COASTOFAFRICA', 'TASMANSEA', 'GHANA', 'GREENLAND',
       'MEDITERRANEANSEA', 'BETWEENPORTUGAL&INDIA', 'DJIBOUTI', 'BAHREIN',
       'KOREA', 'REDSEA?', 'ASIA?', 'CEYLON(SRILANKA)'], dtype=object)