# WEB PROJECT

In [2]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import multiprocessing as mp
from tqdm import tqdm
import requests
import re
import json
from pandas.io.json import json_normalize
import time
import os
import csv

In [3]:
#Carga API
resp_api_bitso = requests.get('https://api-dev.bitso.com/v3/ticker')
print(resp_api_bitso.status_code)
data_bitso = pd.DataFrame(resp_api_bitso.json())

200

In [4]:
data_bitso.head()
data_bitso.payload

0     {'high': '162305.99', 'last': '162200.11', 'cr...
1     {'high': '0.01949999', 'last': '0.01934999', '...
2     {'high': '3159.99', 'last': '3159.99', 'create...
3     {'high': '0.00002693', 'last': '0.00002649', '...
4     {'high': '4.35', 'last': '4.30', 'created_at':...
5     {'high': '0.00654214', 'last': '0.00650751', '...
6     {'high': '1070.22', 'last': '1061.20', 'create...
7     {'high': '0.04152898', 'last': '0.04152898', '...
8     {'high': '6787.13', 'last': '6708.00', 'create...
9     {'high': '0.00012006', 'last': '0.00011575', '...
10    {'high': '18.75', 'last': '18.73', 'created_at...
11    {'high': '6.00', 'last': '6.00', 'created_at':...
Name: payload, dtype: object

In [5]:
#Carga CVS
dominio = 'https://coinmetrics.io/newdata/'
ext = ".csv"
crypto=['btc','mana','eth','gnt','ltc','xrp','tusd','bat']
data_csv=[]

for i in tqdm(range(len(crypto))):
    csv_response=requests.get(dominio+crypto[0]+ext)
    with open(crypto[i]+'.csv', 'w') as f:
        writer = csv.writer(f)
        for line in csv_response.iter_lines():
            writer.writerow(line.decode('utf-8').split(','))
    data_csv.append(pd.read_csv("./"+crypto[i]+".csv"))

100%|██████████| 8/8 [00:11<00:00,  1.41s/it]

In [45]:
data_csv[0]

,date,AdrActCnt,BlkCnt,BlkSizeByte,BlkSizeMeanByte,CapMVRVCur,CapMrktCurUSD,CapRealUSD,DiffMean,FeeMeanNtv,...,TxTfrValAdjUSD,TxTfrValMeanNtv,TxTfrValMeanUSD,TxTfrValMedNtv,TxTfrValMedUSD,TxTfrValNtv,TxTfrValUSD,VtyDayRet180d,VtyDayRet30d,VtyDayRet60d
0,2009-01-03,0,0,0,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1,2009-01-04,0,0,0,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2,2009-01-05,0,0,0,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
3,2009-01-06,0,0,0,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
4,2009-01-07,0,0,0,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,2020-01-22,771727,156,161924846,1.037980e+06,1.535443,1.571831e+11,1.023698e+11,1.477637e+13,0.000065,...,1.821290e+09,0.821535,7104.552224,0.009339,80.761013,566583.062402,4.899754e+09,0.030998,0.026669,0.028545
4037,2020-01-23,789764,159,168864924,1.062044e+06,1.485478,1.520829e+11,1.023798e+11,1.477637e+13,0.000064,...,2.078796e+09,0.969166,8108.418439,0.009963,83.356131,695335.182886,5.817442e+09,0.030950,0.027419,0.027980
4038,2020-01-24,720051,152,156322633,1.028438e+06,1.494940,1.531352e+11,1.024357e+11,1.477637e+13,0.000050,...,1.443595e+09,0.773068,6511.856191,0.009983,84.094502,511850.039286,4.311513e+09,0.030947,0.027341,0.027796
4039,2020-01-25,665971,164,140855870,8.588773e+05,1.480768,1.517231e+11,1.024624e+11,1.477637e+13,0.000040,...,9.761783e+08,0.563587,4703.002793,0.008173,68.202343,341070.189031,2.846154e+09,0.030954,0.027460,0.027840
4040,2020-01-26,544915,143,113589577,7.943327e+05,1.520957,1.559038e+11,1.025038e+11,1.477637e+13,0.000040,...,9.183138e+08,0.701941,6018.353400,0.008332,71.437525,373292.168754,3.200560e+09,0.031015,0.027756,0.027354

In [98]:
#Carga html
html = 'https://coinmarketcap.com/currencies/decentraland/historical-data/?start=20130428&end=20200126'
resp_html=requests.get(html).content
sopa=bs(resp_html,'lxml')

In [204]:
def get_table_values(nombre,sopa,clase):
    nombre=sopa.find_all('td',{'class': clase})
    nombre= list(nombre)
    
    for i in range(len(nombre)):
            nombre[i]=nombre[i].find_all('div')
            nombre[i]=str(nombre[i])
            nombre[i]=nombre[i].replace('<div class="">','')
            nombre[i]=nombre[i].replace('','')
            nombre[i]=nombre[i].replace('</div>','')    
            
    return nombre

In [205]:
fecha=[]
valores=[]
fecha = get_table_values(fecha,sopa,'cmc-table__cell cmc-table__cell--sticky cmc-table__cell--left')
valores = get_table_values(valores,sopa,'cmc-table__cell cmc-table__cell--right')

In [206]:
meses={'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06',
        'Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}
mes =''
dia = ''
año=''
for i in range(len(fecha)):
    mes = fecha[i][1:4]
    dia = fecha[i][5:7]
    año = fecha[i][9:13]
    mes = meses[mes]
    fecha[i] = año + '-' + mes + '-'+ dia

In [213]:
list_all_data=[]
for i in range(len(fecha)):
    list_all_data.append([fecha[i],valores[i*6+0],valores[i*6+1],
    valores[i*6+2],valores[i*6+3],valores[i*6+4],valores[i*6+5]])

In [214]:
df_mana=pd.DataFrame(list_all_data)

In [221]:
columnas=['Date','Open','High','Low','Close','Volume','C.Mar']
df_mana.columns = columnas
df_mana

,Date,Open,High,Low,Close,Volume,C.Mar
0,2020-01-26,[0.033708],[0.035622],[0.033508],[0.035206],"[11,712,591]","[36,971,579]"
1,2020-01-25,[0.033617],[0.034057],[0.032863],[0.033696],"[8,579,382]","[35,385,321]"
2,2020-01-24,[0.033527],[0.034383],[0.032972],[0.033619],"[10,450,403]","[35,304,282]"
3,2020-01-23,[0.034424],[0.034940],[0.032201],[0.033523],"[10,656,584]","[35,203,884]"
4,2020-01-22,[0.034222],[0.035074],[0.034164],[0.034444],"[12,842,144]","[36,171,133]"
...,...,...,...,...,...,...,...
857,2017-09-21,[0.022643],[0.067256],[0.018324],[0.019851],"[388,625]",[0]
858,2017-09-20,[0.018221],[0.024130],[0.018157],[0.022722],"[270,725]",[0]
859,2017-09-19,[0.024657],[0.031314],[0.016159],[0.018237],"[181,704]",[0]
860,2017-09-18,[0.024788],[0.045483],[0.023502],[0.024580],"[378,063]",[0]
861,2017-09-17,[0.025794],[0.030228],[0.022597],[0.024739],"[688,849]",[0]